<!DOCTYPE html>
<html>
<head>
  <title>RestApi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to_if(user_signed_in?, "SignOut", destroy_user_session_path, method: "DELETE") {}%>
<%= yield %>

</body>
</html>
